* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color:rgb(247,247,250);
}


/* Intestazione pagina */

.contenitore-titolo {
    background-color: rgb(255,255,255);
}

#logo {
    width: 4%;
    line-height: 4%;
    vertical-align: middle;
}

#logotext {
    font-size: 190%;
    font-weight: 900;
}


/* Corpo pagina */

.contenitore {
    margin: auto;
    width: 70%;
    margin-top: 2%;
}